.vs/
node-modules/*
web/node-modules/*
server/node-modules/*
mobile/node-modules/*
v16/*

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sqlite
VSWorkspaceState.*

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
*.suo
